@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'Komika';
  src: url('./assets/Fonts/KOMIKAX_.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Blowbrush';
  src: url('./assets/Fonts/blowbrush.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Permanentmarker';
  src: url('./assets/Fonts/PermanentMarker-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Tagtype';
  src: url('./assets/Fonts/tagtype-freefont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Blankriver';
  src: url('./assets/Fonts/Blank River.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  /* font-family: 'Komika', sans-serif; */
}

:root{
  overflow-x: hidden;
  scrollbar-width: thin;

}


img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
